{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load account %}

{% block content %}

<div class="row justify-content-center" style="margin-bottom:200px;margin-top:100px;">
  <div class="col-5">
    <div class="card">
      <div class="card-body">
        {% if confirmation %}
        <h2>Confirm E-mail Address</h2>
        <p>Please confirm email address <a href="mailto:{{ confirmation.email_address.user  }}">{{ confirmation.email_address.user }}</a>.</p>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
        {% else %}
        <p>This e-mail confirmation link expired or is invalid.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

